spring:
  application:
    name: product-microsservice
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    url: jdbc:postgresql://localhost:5432/order-service
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
       ddl-auto: update
    properties:
        hibernate:
         dialect: org.hibernate.dialect.PostgreSQLDialect
         show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
    enabled: true
